<a href="https://colab.research.google.com/github/huusonbk/Visualization-python/blob/main/day71_Data_Exploration_with_Pandas_College_Major_v_s_Your_Salary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('salaries_by_college_major.csv')

In [ ]:
df.shape

(51, 6)

In [ ]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [ ]:
df.tail()

      Undergraduate Major  ...  Group
46             Psychology  ...   HASS
47               Religion  ...   HASS
48              Sociology  ...   HASS
49                Spanish  ...   HASS
50  Source: PayScale Inc.  ...    NaN

[5 rows x 6 columns]

In [ ]:
clean_df = df.dropna()

In [ ]:
clean_df.tail()

   Undergraduate Major  ...  Group
45   Political Science  ...   HASS
46          Psychology  ...   HASS
47            Religion  ...   HASS
48           Sociology  ...   HASS
49             Spanish  ...   HASS

[5 rows x 6 columns]

In [ ]:
idxmax = clean_df['Starting Median Salary'].idxmax()

In [ ]:
clean_df['Undergraduate Major'].loc[idxmax]

'Physician Assistant'

In [ ]:
clean_df.iloc[idxmax]

Undergraduate Major                  Physician Assistant
Starting Median Salary                             74300
Mid-Career Median Salary                           91700
Mid-Career 10th Percentile Salary                  66400
Mid-Career 90th Percentile Salary                 124000
Group                                               STEM
Name: 43, dtype: object

In [ ]:
print("Major has highest mid-carrer median salary: ",clean_df.loc[clean_df["Mid-Career Median Salary"].idxmax()])
print("Salary:",clean_df["Mid-Career Median Salary"].max())

Major has highest mid-carrer median salary:  Undergraduate Major                  Chemical Engineering
Starting Median Salary                              63200
Mid-Career Median Salary                           107000
Mid-Career 10th Percentile Salary                   71900
Mid-Career 90th Percentile Salary                  194000
Group                                                STEM
Name: 8, dtype: object
Salary: 107000.0

In [ ]:
print("Major has lowest starting median salary: ", clean_df.loc[clean_df["Starting Median Salary"].idxmin()])
print("Salary:",clean_df["Starting Median Salary"].min())

Major has lowest starting median salary:  Undergraduate Major                  Spanish
Starting Median Salary                 34000
Mid-Career Median Salary               53100
Mid-Career 10th Percentile Salary      31000
Mid-Career 90th Percentile Salary      96400
Group                                   HASS
Name: 49, dtype: object
Salary: 34000.0

In [ ]:
print("Major has lowest mid-carrer median salary: ", clean_df.loc[clean_df["Mid-Career Median Salary"].idxmin()])
print("Salary:", clean_df["Mid-Career Median Salary"].min())

Undergraduate Major                  Education
Starting Median Salary                   34900
Mid-Career Median Salary                 52000
Mid-Career 10th Percentile Salary        29300
Mid-Career 90th Percentile Salary       102000
Group                                     HASS
Name: 18, dtype: object
52000.0

In [ ]:
spread_col = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']
clean_df.insert(1, 'Spread', spread_col)
clean_df.head()

     Undergraduate Major    Spread  ...  Mid-Career 90th Percentile Salary     Group
0             Accounting  109800.0  ...                           152000.0  Business
1  Aerospace Engineering   96700.0  ...                           161000.0      STEM
2            Agriculture  113700.0  ...                           150000.0  Business
3           Anthropology  104200.0  ...                           138000.0      HASS
4           Architecture   85400.0  ...                           136000.0  Business

[5 rows x 7 columns]

In [ ]:
low_risk = clean_df.sort_values('Spread')
low_risk[['Undergraduate Major', 'Spread']].head()

           Undergraduate Major   Spread
40                     Nursing  50700.0
43         Physician Assistant  57600.0
41                   Nutrition  65300.0
49                     Spanish  65400.0
27  Health Care Administration  66400.0

In [ ]:
#the degrees with the lowest potential risk

low_risk = clean_df.sort_values('Spread', ascending=False)
low_risk[['Undergraduate Major', 'Spread']].head()

   Undergraduate Major    Spread
17           Economics  159400.0
22             Finance  147800.0
37                Math  137800.0
36           Marketing  132900.0
42          Philosophy  132500.0

In [ ]:
#the degrees with the highest potential risk

high_risk = clean_df.sort_values('Spread', ascending=False)
high_risk[['Undergraduate Major', 'Spread']].head()

In [ ]:
#top 5 degrees with the highest values in the 90th percentile. 

high_risk_90percentile = clean_df.sort_values('Mid-Career 90th Percentile Salary', ascending=False)
high_risk_90percentile[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

In [ ]:
#the average salary by group? 
pd.options.display.float_format = '{:,.2f}'.format 
clean_df.groupby('Group').mean()

             Spread  ...  Mid-Career 90th Percentile Salary
Group                ...
Business 103,958.33  ...                         147,525.00
HASS      95,218.18  ...                         129,363.64
STEM     101,600.00  ...                         157,625.00

[3 rows x 5 columns]